#### Yêu cầu 1:

In [1]:
import pandas as pd
path = "E:\Code\Python\Tài liệu Python\KhoaHocDuLieu\Slide_Baigiang\Data_C4\Bai19_Personal.csv"
df = pd.read_csv(path)
print("Thông tin của 20 bệnh nhân đầu tiên là: ")
df.head(20)

Thông tin của 20 bệnh nhân đầu tiên là:

,id,tuoi,gioitinh,loai,huyetap,cholesterol,nhiptim,thalassemia,Ketqua
0,1,63,Male,Typical angina,145,233,150,6.0,0
1,2,67,Male,Asymptomatic,160,286,108,3.0,1
2,3,67,Male,Asymptomatic,120,229,129,7.0,1
3,4,37,Male,Non-anginal pain,130,250,187,3.0,0
4,5,41,Female,Atypical angina,130,204,172,NaN,0
5,6,56,Male,Atypical angina,120,236,178,3.0,0
6,7,62,Female,Asymptomatic,140,268,160,3.0,1
7,8,57,Female,Asymptomatic,120,354,163,3.0,0
8,9,63,Male,Asymptomatic,130,254,147,7.0,1
9,10,53,Male,Asymptomatic,140,203,155,7.0,1
10,11,57,Male,Asymptomatic,140,192,148,6.0,0
11,12,56,Female,Atypical angina,140,294,153,3.0,0
12,13,56,Male,Non-anginal pain,130,256,142,6.0,1
13,14,44,Male,Atypical angina,120,263,173,7.0,0
14,15,52,Male,Non-anginal pain,172,199,162,7.0,0
15,16,57,Male,Non-anginal pain,150,168,174,3.0,0
16,17,48,Male,Atypical angina,110,229,168,7.0,1
17,18,54,Male,Asymptomatic,140,239,160,3.0,0
18,19,48,Female,Non-anginal pain,130,275,139,3.0,0
19,20,49,Male,Atypical angina,130,266,171,3.0,0

In [2]:
print ('Thông tin của 30 bệnh nhân cuối cùng:')
df.tail(30)

Thông tin của 30 bệnh nhân cuối cùng:

,id,tuoi,gioitinh,loai,huyetap,cholesterol,nhiptim,thalassemia,Ketqua
270,271,66,Male,NaN,160,228,138,6.0,0
271,272,46,Male,Asymptomatic,140,311,120,7.0,1
272,273,71,Female,Asymptomatic,112,149,125,3.0,0
273,274,59,Male,Typical angina,134,204,162,3.0,1
274,275,64,Male,Typical angina,170,227,155,7.0,0
275,276,66,Female,Non-anginal pain,146,278,152,3.0,0
276,277,39,Female,Non-anginal pain,138,220,152,3.0,0
277,278,57,Male,Atypical angina,154,232,164,NaN,1
278,279,58,Female,Asymptomatic,130,197,131,3.0,0
279,280,57,Male,Asymptomatic,110,335,143,7.0,1
280,281,47,Male,Non-anginal pain,130,253,179,3.0,0
281,282,55,Female,Asymptomatic,128,205,130,7.0,1
282,283,35,Male,Atypical angina,122,192,174,3.0,0
283,284,61,Male,Asymptomatic,148,203,161,7.0,1
284,285,58,Male,Asymptomatic,114,318,140,6.0,1
285,286,58,Female,Asymptomatic,170,225,146,6.0,1
286,287,58,Male,Atypical angina,125,220,144,7.0,0
287,288,56,Male,Atypical angina,130,221,163,7.0,0
288,289,56,Male,Atypical angina,120,240,169,3.0,0
289,290,67,Male,Non-anginal pain,152,212,150,7.0,1
290,291,55,Female,Atypical angina,132,342,166,3.0,0
291,292,44,Male,Asymptomatic,120,169,144,6.0,1
292,293,63,Male,NaN,140,187,144,7.0,1
293,294,63,Female,Asymptomatic,124,197,136,NaN,1
294,295,41,Male,Atypical angina,120,157,182,3.0,0
295,296,59,Male,Asymptomatic,164,176,90,6.0,1
296,297,57,Female,Asymptomatic,140,241,123,7.0,1
297,298,45,Male,Typical angina,110,264,132,7.0,1
298,299,68,Male,Asymptomatic,144,193,141,7.0,1
299,300,57,Male,Asymptomatic,130,131,115,7.0,1

In [3]:
print(df.describe(include = ['O']))
print("---------------------------")
print(df.groupby('gioitinh').count())
df.describe()

       gioitinh          loai
count       300           295
unique        2             4
top        Male  Asymptomatic
freq        205           139
---------------------------
           id  tuoi  loai  huyetap  cholesterol  nhiptim  thalassemia  Ketqua
gioitinh
Female     95    95    95       95           95       95           92      95
Male      205   205   200      205          205      205          201     205

,id,tuoi,huyetap,cholesterol,nhiptim,thalassemia,Ketqua
count,300.000000,300.000000,300.000000,300.000000,300.000000,293.000000,300.00000
mean,150.500000,54.490000,131.686667,247.070000,149.563333,4.781570,0.46000
std,86.746758,9.032267,17.682498,51.835136,22.818595,1.944452,0.49923
min,1.000000,29.000000,94.000000,126.000000,71.000000,3.000000,0.00000
25%,75.750000,48.000000,120.000000,211.000000,133.750000,3.000000,0.00000
50%,150.500000,56.000000,130.000000,242.500000,152.500000,3.000000,0.00000
75%,225.250000,61.000000,140.000000,275.250000,165.250000,7.000000,1.00000
max,300.000000,77.000000,200.000000,564.000000,202.000000,7.000000,1.00000

In [4]:
print("Tuổi trung bình của các bệnh nhân trong tập dữ liệu: ", df.describe().iloc[1,1])
print("Tuổi của bệnh nhân trẻ nhất là: ", df.describe().iloc[3, 1])
print("Tuổi của bệnh nhân già nhất là: ", df.describe().iloc[7, 1])
print("Số bệnh nhân nam là: ", df.groupby('gioitinh').count().iloc[1,0])

Tuổi trung bình của các bệnh nhân trong tập dữ liệu:  54.49
Tuổi của bệnh nhân trẻ nhất là:  29.0
Tuổi của bệnh nhân già nhất là:  77.0
Số bệnh nhân nam là:  205

#### Yêu cầu 2:

In [5]:
print("Cột có chứa missing data và số lượng là:",)
df.isnull().sum()

Cột có chứa missing data và số lượng là:

id             0
tuoi           0
gioitinh       0
loai           5
huyetap        0
cholesterol    0
nhiptim        0
thalassemia    7
Ketqua         0
dtype: int64

In [6]:
print("Danh sách bệnh nhân missing data cột 'loai': ",)
df[pd.isnull(df['loai'])]

Danh sách bệnh nhân missing data cột 'loai':

,id,tuoi,gioitinh,loai,huyetap,cholesterol,nhiptim,thalassemia,Ketqua
205,206,58,Male,NaN,128,259,130,7.0,1
218,219,59,Male,NaN,138,271,182,3.0,0
250,251,58,Male,NaN,146,218,105,7.0,1
270,271,66,Male,NaN,160,228,138,6.0,0
292,293,63,Male,NaN,140,187,144,7.0,1

In [7]:
print("Danh sách bệnh nhân missing data cột 'thalassemia': ",)
df[pd.isnull(df['thalassemia'])]

Danh sách bệnh nhân missing data cột 'thalassemia':

,id,tuoi,gioitinh,loai,huyetap,cholesterol,nhiptim,thalassemia,Ketqua
4,5,41,Female,Atypical angina,130,204,172,NaN,0
20,21,64,Male,Typical angina,110,211,144,NaN,0
35,36,42,Male,Asymptomatic,140,226,178,NaN,0
240,241,41,Female,Atypical angina,126,306,163,NaN,0
265,266,52,Male,Asymptomatic,128,204,156,NaN,1
277,278,57,Male,Atypical angina,154,232,164,NaN,1
293,294,63,Female,Asymptomatic,124,197,136,NaN,1

#### Yêu cầu 3:

In [8]:
#Thay thế các giá trị missing ở cột ‘loai’ bằng giá trị cố định là một chuỗi: ‘Asymptomatic’
df['loai'] = df['loai'].fillna('Asymptomatic')
df.iloc[292:293,:]

,id,tuoi,gioitinh,loai,huyetap,cholesterol,nhiptim,thalassemia,Ketqua
292,293,63,Male,Asymptomatic,140,187,144,7.0,1

In [9]:
#Thay thế các giá trị missing ở cột ‘thalassemia’ bằng số 3
df['thalassemia'] = df['thalassemia'].fillna(3)
df.iloc[3:4,:]

,id,tuoi,gioitinh,loai,huyetap,cholesterol,nhiptim,thalassemia,Ketqua
3,4,37,Male,Non-anginal pain,130,250,187,3.0,0

In [10]:
df['gioitinh'] = df['gioitinh'].map({'Male' : 0, 'Female' : 1}).astype(int)
df

,id,tuoi,gioitinh,loai,huyetap,cholesterol,nhiptim,thalassemia,Ketqua
0,1,63,0,Typical angina,145,233,150,6.0,0
1,2,67,0,Asymptomatic,160,286,108,3.0,1
2,3,67,0,Asymptomatic,120,229,129,7.0,1
3,4,37,0,Non-anginal pain,130,250,187,3.0,0
4,5,41,1,Atypical angina,130,204,172,3.0,0
...,...,...,...,...,...,...,...,...,...
295,296,59,0,Asymptomatic,164,176,90,6.0,1
296,297,57,1,Asymptomatic,140,241,123,7.0,1
297,298,45,0,Typical angina,110,264,132,7.0,1
298,299,68,0,Asymptomatic,144,193,141,7.0,1
299,300,57,0,Asymptomatic,130,131,115,7.0,1

In [11]:
df.groupby('loai').count()

,id,tuoi,gioitinh,huyetap,cholesterol,nhiptim,thalassemia,Ketqua
loai,,,,,,,,
Asymptomatic,144,144,144,144,144,144,144,144
Atypical angina,49,49,49,49,49,49,49,49
Non-anginal pain,84,84,84,84,84,84,84,84
Typical angina,23,23,23,23,23,23,23,23

#### Yêu cầu 4

In [12]:
convert = {'Atypical angina' : 0, 'Typical angina' : 1, 'Asymptomatic' : 2, 'Non-anginal pain' : 3}
df['loai'] = df['loai'].map(convert).astype(int)
df

,id,tuoi,gioitinh,loai,huyetap,cholesterol,nhiptim,thalassemia,Ketqua
0,1,63,0,1,145,233,150,6.0,0
1,2,67,0,2,160,286,108,3.0,1
2,3,67,0,2,120,229,129,7.0,1
3,4,37,0,3,130,250,187,3.0,0
4,5,41,1,0,130,204,172,3.0,0
...,...,...,...,...,...,...,...,...,...
295,296,59,0,2,164,176,90,6.0,1
296,297,57,1,2,140,241,123,7.0,1
297,298,45,0,1,110,264,132,7.0,1
298,299,68,0,2,144,193,141,7.0,1
299,300,57,0,2,130,131,115,7.0,1

In [13]:
df.to_csv('E:\Code\Python\Tài liệu Python\KhoaHocDuLieu\Slide_Baigiang\Data_C4\Bai19_Personal_finish.csv')